<!DOCTYPE html>
<html lang="en" {% if theme %} class="{{ theme }}"{% endif %}>

  <head>
    
    <meta charset="utf-8">

    <script>document.documentElement.classList.add('js');</script>
    
    <title>{{ title | escape }}</title>

    <meta name="description" content="{% if description %}{{ description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {%- if noindex -%}
    <meta name="robots" content="noindex, nofollow">
    {%- endif -%}

    {%- if canonical -%}
    <link rel="canonical" href="{{ canonical }}">
    {%- else -%}
    <link rel="canonical" href="{{ env.baseUrl }}{{ page.url }}">
    {%- endif -%}

    <!-- Favicon & icons -->
    <link rel="alternate icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/svg+xml" href="{{ '/assets/icons/favicon.svg' | url }}">
    <link rel="mask-icon" href="{{ '/assets/icons/favicon.svg' | url }}" color="#000000">
    <link rel="apple-touch-icon" href="{{ '/assets/icons/favicon-196x196.png' | url }}">

    <!-- Fonts (external, keep as-is) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=amulya@400&display=swap" rel="stylesheet">
    <link href="https://api.fontshare.com/v2/css?f[]=array@601&display=swap" rel="stylesheet">

    <!-- Bootstrap & FontAwesome (external) -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" rel="stylesheet">

    <style>
      @view-transition {
        navigation: auto;
      }

      ::view-transition-old(root),
      ::view-transition-new(root) {
        animation-duration: 0.1s;
      }

    </style>

    <!-- Local CSS & JS (use | url) -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" media="all">
    <script defer src="https://unpkg.com/swup@4.8.1"></script>
    <script defer src="{{ '/assets/js/app.js' | url }}" type="module"></script>

    {%- if javascript -%}
    <script src="{{ '/assets/js/' | append: javascript | url }}" type="module"></script>
    {%- endif -%}

  </head>

  <body {% if class %} class="{{ class }}"{% endif %}>
    {{ content }}

    <!-- External JS (keep as-is) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>

</html>
